.simple-keyboard.hg-theme-default.myTheme {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 45%;
  font-weight: bold;
  background-color: #00FF0000;
}

.simple-keyboard.hg-layout-default .hg-button.hg-green {
  transition: transform 0.3s ease;
  background: white;
  color: #008698;
  height: 130px;
  border-radius: 300px;
  border-color: #008698;
  border-width: 3px;
  padding: 0px;
  border-style: solid;
}

@media (min-width: 768px) {
  .simple-keyboard.hg-layout-default .hg-button.hg-green {
    font-size: 3.5vw;
  }
}

@media (max-width: 767px) {
  .simple-keyboard.hg-layout-default .hg-button.hg-green {
    font-size: 5.5vw;
  }
}

.simple-keyboard.hg-layout-default .hg-button.hg-green:hover {
  background-color: #008698;
  color: white;
  transform: scale(0.95);
  /* box-shadow: 0px 0px 40px 5px #f2f2f2; */
  z-index: 1;
}