.simple-keyboard.hg-theme-default.myTheme {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #008698;
  width: calc(100% - 150px);
  /* height: 250px; */
}

.hg-rows {
  width: 100%;
  height: 100%;
}

.hg-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.hg-button {
  width: 100%;
  height: 100px;
  aspect-ratio: 1/1 !important;
}

.hg-button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  height: 100% !important;
  max-height: 100%;
}


/* .simple-keyboard.hg-layout-default .hg-button.hg-green {
  transition: transform 0.3s ease;
  background: white;
  background-color: #008698;
  color: #008698;
  height: 130px;
  border-radius: 300px;
  border-color: #008698;
  border-width: 3px;
  padding: 0px;
  border-style: solid;
} */

/* @media (min-width: 768px) {
  .simple-keyboard.hg-layout-default .hg-button.hg-green {
    font-size: 3.5vw;
  }
}

@media (max-width: 767px) {
  .simple-keyboard.hg-layout-default .hg-button.hg-green {
    font-size: 5.5vw;
  }
} */

/* .simple-keyboard.hg-layout-default .hg-button.hg-green:hover {
  background-color: #008698;
  color: white;
  transform: scale(0.95);
  z-index: 1;
} */